* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #2d4059;
}

header {
    display: flex;
    align-items: center;
    padding-left: 15vw;
    width: auto;
    height: 95px;
    background-color: #2185d5;
    color: white;
    font-size: 2em;
    font-weight: 700;
}

footer {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}

label {
    font-size: 1.2em;
    padding-top: 10%;
    color: rgb(79, 79, 79);
}

input[type="submit"] {
    text-align: center;
    border: none;
    background-color:#2185d5;
    color: white;
    padding: 10px 5px 10px 5px;
    margin-top: 25px;
    cursor: pointer;
}


dialog {
    border: none;
    margin: auto;
    border-radius: 12px;
}

#btn-add {
    border-radius: 50%;
    font-size: 32px;
    width: 64px;
    height: 64px;
    text-align: center;
    border: none;
    color: white;
    background-color: #1c71b6;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    margin-bottom: 10px;
}

#btn-close {
    font-size: 16px;
    border: none;
    background-color: white;
    cursor: pointer;
}

#form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#title, #author, #pages, #read {
    padding: 10px;
    background-color: #f3f4f6;
    border: none;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.3);
}

.popup-content {
    width: 300px;
    height: 500px;
    background-color: white;
    border-radius: 14px;
}
.popup-header {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.popup-header h1 {
    font-size: 40px;
    color: #2185d5;
    margin: auto;
}

.container {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    row-gap: 22px;
}

.book{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin-top: 15px; 
    background-color: white;
    width: 300px;
    height: 252px;
    font-size: 1.4em;
}


.book-title{
    display: flex;
    justify-content: center;
    background-color: #2185d5;
    color: white;
    font-weight: 700;
    padding: 12px 0 12px 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.book-content{
    display: flex;
    flex-direction: column;
    font-weight: 700;
    padding: 8%;
    gap:2em;
}

.book-content div{
    display: flex;
    justify-content: center;
    border-bottom: rgb(164, 164, 164) 0.5px solid;
    width: 98%;
}

.read, .book-del{
    font-size: 1em;
    border: none;
    padding: 10px 0 10px 0;
    cursor: pointer;
}

.read{
    padding-top: 6px;
    display: flex;
    justify-content: center;
}

.read-yes {
    background-color: #28a745;
}

.read-no {
    background-color: #dc3545; 
}

.book-del{
    display: flex;
    justify-content: center;
    color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #2185d5;
}